<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KessLoissy</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <div class="logo">KessLoissy</div>
    <nav>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h1>Welcome to KessLoissy ToDo List!</h1>
      <p>Stay organized and productive with ease! Our simple yet powerful Todo List app helps you keep track of tasks, set reminders, and manage your day-to-day activities. Whether it's for work, school, or personal goals, this app lets you create, edit, and delete tasks quickly, so you can focus on what matters most. Start organizing your day and accomplish your goals with just a few clicks!</p>
      <a href="/login" class="btn">Start Now</a>
    </section>

    <section class="features">
      <h2>Why Choose KessLoissy?</h2>
      <div class="feature-list">
        <div class="feature-item">
          <h3>Simple & Intuitive Interface</h3>
          <p>Easily create, edit, and manage tasks with a user-friendly design. No distractions, just straightforward task management at your fingertips.</p>
        </div>
        <div class="feature-item">
          <h3>Stay Organized & On Track</h3>
          <p>Prioritize tasks, set deadlines, and track your progress. Whether it's work, school, or personal projects, our app helps you stay focused and efficient.</p>
        </div>
        <div class="feature-item">
          <h3>Access Anytime, Anywhere</h3>
          <p>With our app, your todo lists are always with you. Access your tasks from any device, ensuring you're never behind, no matter where you are.</p>
        </div>
      </div>
    </section>
  </main>

  
  <footer>
    <p>&copy; 2025 KessLoissy</p>
  </footer>
</body>
</html>
